<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwwxYU_iW-N18RoqP2LSXffBCCdmclhS8</string>
	<key>GCM_SENDER_ID</key>
	<string>179512636197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>space.melv.valentine</string>
	<key>PROJECT_ID</key>
	<string>valentine-maker</string>
	<key>STORAGE_BUCKET</key>
	<string>valentine-maker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179512636197:ios:30769d856b7c6409cba0cc</string>
</dict>
</plist>